.container {
  height: 100vh;
  background-color: #f2f0ea;
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
}
.image {
  background-image: url("/public/images/i4.jpg");
  width: 40%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 90px;
}
.content {
  margin: auto;
  width: 50%;
}
.contactUs{
  padding: 10px;
  border-radius: 25px;
  border-style: none;
  font-family: "Poppins", sans-serif;
  background-color: lightseagreen;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 25px;
  width: 30%;
}
h1{
  font-size: 50px;
}
