* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
nav {
  transition: 0.3s;
}
.sticky {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.topnavbar {
  background-color: lightseagreen;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}
small {
  font-size: 18px;
  margin-left: 10px;
}
.toplink {
  text-decoration: none;
  font-size: 18px;
  color: white;
  height: 5vh;
  margin-left: 10px;
}
.toplink2 {
  text-decoration: none;
  font-size: 18px;
  color: white;
  height: 5vh;
  margin-left: 10px;
  display: inline;
}
.navbar {
  height: 60px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  font-family: "Poppins", sans-serif;
  padding: 0px 150px;
}
.navLinks {
  margin-left: auto;
}
.navLinks ul {
  display: flex;
  padding: 0;
}
.navLinks li {
  list-style-type: none;
  margin: 0 1rem;
}
.navLinks li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.logo {
  text-decoration: none;
  padding: 10px;
  margin-left: 1rem;
  object-fit: cover;
}
.logo img {
  height: 60px;
  width: 60px;
}
.menu {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  color: #8b2b28;
  display: none;
}
.navLinks li ::after {
  content: "";
  width: 0px;
  height: 1.5px;
  display: block;
  background: black;
  transition: 300ms;
}

.navLinks li :hover::after {
  width: 100%;
}
.button {
  padding: 5px 10px;
  border-radius: 10px;
  border-style: none;
  font-family: "Poppins", sans-serif;
  background-color: lightseagreen;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}
.toplinkbar {
  overflow-x: hidden;
}
.toplinkbar2 {
  overflow-x: hidden;
  display: inline;
}
@media screen and (max-width: 768px) {
  .menu {
    display: block;
  }
  .navbar {
    padding: 0;
  }
  .topnavbar small {
    display: none;
  }
  .topnavbar .toplink {
    font-size: 16px;
  }
  .toplinkbar small {
    display: inline;
  }
  .topnavbar .toplink2 {
    font-size: 16px;
    display: inline;
  }
  .toplinkbar2 small {
    display: inline;
  }
  .navLinks ul {
    display: none;
    /* }
  .navlinks
  .expanded ul {
    display: block;
  }
  .navLinks ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navLinks li {
    text-align: center;
    margin: 0;
  }
  .navLinks li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navLinks li:hover {
    background-color: #eee;
  } */
  }
}
