* {
  margin: 0px;

  overflow-x: hidden;
}
.containerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
}
h1 {
  font-weight: 600;
  margin-bottom: 20px;
}
.doctorDescription {
  text-align: center;
  font-size: 16px;
  color: rgb(50, 48, 48);
  margin-bottom: 30px;
  font-weight: 400 !important;
}

.cardContainer {
  width: 100vw;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}
